body {
    background-color: black;
    font-family: monospace, serif, Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: greenyellow;
}

pre {
    color: powderblue;
    font-size: 18px;
}

a {
    color: green;
    text-decoration: none;
}